:root {
  --color1: #901c1c;
  --color2: #d3573c;
  --color3: #fafafa;
  --color4: #525252;
}

* {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.photograph-header {
  background-color: var(--color3);
  min-height: 300px;
  margin: 0 100px;
}
@media screen and (max-width: 1090px) {
  .photograph-header {
    margin: 0 20px;
  }

  .photograph-profil h1 {
    margin: 0;
  }
}

.photograph-profil {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  position: relative;
}
.photograph-profil .text-container {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 40%;
}

.photograph-profil h1 {
  color: var(--color2);
  font-weight: 400;
  font-size: 55px;
  line-height: 83px;
}
.photograph-profil .city {
  color: var(--color1);
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.photograph-profil .tagline {
  color: var(--color4);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 20px 0;
}

.photograph-profil img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--color1);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact_button:focus-visible {
  background-color: #db8876;
}

@media screen and (max-width: 860px) {
  .photograph-header {
    margin: 0 20px 30px 20px;
  }
  .photograph-profil {
    min-height: 400px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 65% 35%;
    grid-template-areas:
      'txt image'
      'txt btn';
  }
  #profil-content {
    grid-area: txt;
    padding-top: 20px;
  }

  .photograph-profil img {
    grid-area: image;
    margin: 0 auto;
  }

  .contact_button {
    grid-area: btn;
    position: static;
    transform: none;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .photograph-profil {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 245px 135px;
    grid-template-areas:
      'txt'
      'image'
      'btn';
  }
  #profil-content {
    align-items: center;
  }
  .photograph-profil h1,
  .city,
  .tagline {
    text-align: center;
  }
  .photograph-profil h1 {
    line-height: normal;
    font-size: 45px;
  }

  .contact_button {
    width: 350px;
  }
}

@media screen and (max-width: 485px) {
  .photograph-header {
    margin: 0 0 30px 0;
  }
  .photograph-profil {
    padding: 0;
  }
}

.popinInfo {
  width: 376px;
  height: 89px;
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 36px;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .popinInfo {
    width: 300px;
    height: 75px;
    right: 50%;
    transform: translateX(50%);
    font-size: 1.2rem;
  }
}

/* ------------ contact modal ---------- */

#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  min-width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #fafafa;
  /* background-color: rgba(196, 196, 196, 0.4); */
  z-index: 200;
}

.flex-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  min-width: 350px;
  width: 50%;
  max-width: 669px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: relative;
  min-height: 80%;
}

.form-container {
  width: 100%;
}

.modal header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  line-height: 60px;
}

.contact_btn_close {
  position: relative;
  background: none;
  border: none;
  width: 45px;
  height: 45px;
  margin-top: 12px;
}

.modal header {
  margin: 0 0 20px 0;
  height: 120px;
  display: flex;
  align-items: flex-start;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 54px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 20px;
}

.grid-form {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
    'i1'
    'i2'
    'i3'
    'i4'
    'i4'
    'btn';
}

#firstname-grid {
  grid-area: i1;
}
#lastname-grid {
  grid-area: i2;
}
#email-grid {
  grid-area: i3;
}
#message-grid {
  grid-area: i4;
}
#contact_modal .contact_button {
  grid-area: btn;
}

form label {
  color: #312e2e;
  font-size: 36px;
  line-height: 50px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding-left: 10px;
}
form input:focus-visible,
form textarea:focus-visible {
  background: var(--color3);
  color: black;
}

label[for='message'] {
  margin-top: 10px;
}
form textarea {
  resize: none;
  height: 100%;
}

#contact_modal .contact_button {
  position: static;
  transform: none;
  align-self: flex-start;
  margin-top: 26px;
}

#contact_modal .contact_button:hover,
#contact_modal .contact_button:focus-visible {
  background: var(--color3);
  color: var(--color1);
}

@media screen and (max-width: 1200px) {
  .modal header h2 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 1000px) {
  .modal {
    width: 90%;
  }
  .modal header h2 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 650px) {
  .modal {
    width: 100%;
  }
  .form-container {
    position: relative;
  }
  .contact_btn_close {
    position: absolute;
    right: 0;
  }
  form label,
  form input,
  form textarea {
    font-size: 5vw;
  }
}
@media screen and (max-width: 460px) {
  #contact_modal {
    width: 90vw;
  }
  .modal header h2 {
    font-size: 8vw;
  }
  form label,
  form input,
  form textarea {
    font-size: 7vw;
  }
}

/* -------- css add for error input message ----------- */
[data-error]::after {
  content: attr(data-error);
  width: 100%;
  font-size: 1rem;
  color: black;
  display: block;
  margin-top: 7px;
  /* margin-bottom: 7px; */
  text-align: right;
  line-height: 1;
  opacity: 1;
  transition: 0.3s;
}
[data-error-visible='true']::after {
  opacity: 1;
}
[data-error-visible='true'] {
  outline: 2px solid red;
}

.select-hide {
  display: none;
}

.success-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  background-color: #db8876;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
}

.success-show p {
  margin: auto 0;
}

#formBtnClose {
  position: absolute !important;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) !important;
}

/* ----------- section filter ------------- */
.filter-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 100px 0;
  position: relative;
}
.label {
  margin-right: 20px;
  line-height: 69px;
}
.select-value {
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 700;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: white;
  background: #911c1c;
  border: none;
}

.select-value:focus-visible {
  background: #db8876;
}

@media screen and (max-width: 800px) {
  .filter-container {
    flex-direction: column;
    min-height: 145px;
  }
  .label {
    margin-right: 0;
  }

  .select-value {
    width: 350px;
  }
  .select-value span {
    width: 80%;
  }
}

/* ----- select container ---- */
.select-container {
  height: 170px;
  width: 170px;
  border-radius: 5px;
  color: white;
  background: #911c1c;
  position: absolute;
  top: 0;
  left: 89px;
  z-index: 1;
}
.select-list {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: grid;
  position: relative;
}
.select-option {
  list-style: none;
  width: 100%;
  height: 100%;
  line-height: 56px;
  padding: 0 20px;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.select-option:hover,
.select-option:focus-visible,
.select-option:focus-visible svg {
  background: #db8876;
  color: black;
  fill: black;
}
.select-option:nth-of-type(n + 2)::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 80%;
  height: 1px;
  background: white;
}
.select-option:first-of-type {
  border-radius: 5px 5px 0 0;
}
.select-option:last-of-type {
  border-radius: 0 0 5px 5px;
}

.select-option:nth-of-type(1):hover ~ i,
.select-option:nth-of-type(1):hover svg {
  color: black;
  fill: black;
}

.select-container i,
.select-container svg {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.3s ease-in-out;
  fill: #fafafa;
  width: 20px;
  height: 20px;
}

.visible {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}

.hiddenVisibility {
  visibility: hidden;
}
@media screen and (max-width: 800px) {
  .select-container {
    position: absolute;
    top: 69px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    text-align: center;
  }
}
/* ----------- section media -------------- */
.media {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-between;
  border: none;
}

@media screen and (max-width: 1300px) {
  .media {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px 100px 20px;
  }
  .media .text-container {
    max-width: 350px;
  }
  .media .img-container,
  .media .text-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .media {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 100px 0;
  }
}

.media article {
  margin: 30px 0;
}

.media article h2 {
  font-size: 1.5rem;
}

.media .img-container {
  width: 350px;
  height: 350px;
  cursor: pointer;
  border-radius: 5px;
}

.media .img-container img,
.media .img-container video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.media .text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: var(--color1);
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.media .text-container .titre {
  flex: 0 0 80%;
}

.media .text-container .like {
  font-weight: 600;
  font-size: 20px;
  display: flex;
}

.likeBtn {
  position: relative;
  border: none;
  background: none;
  height: 30px;
  width: 30px;
  font-size: 20px;
  color: var(--color1);
}
.likeBtn:hover {
  outline: solid 3px var(--color1);
  background-color: white;
  color: var(--color1);
}
.likeBtn:focus-visible {
  outline: solid 3px var(--color5);
  background-color: white;
  color: var(--color1);
}

.media .text-container i,
.media .text-container svg {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: var(--color1);
}

.likeEmpty,
.likeFull {
  transition: 0.3s ease forwards;
  transform: scale(0);
  display: none;
}

.active {
  transform: scale(1);
  display: block;
}

/* -------------light-box modal----------------- */

#lightbox-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--color3);
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
}

.lightbox-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: var(--color1);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightbox-container.hidden {
  display: none;
}

.close-carousel {
  position: absolute;
  z-index: 20;
  top: 50px;
  right: 5%;
  color: var(--color1);
  font-size: 4rem;
  height: 75px;
  width: 75px;
  background-color: transparent;
  border: none;
}

.arrow-prev {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color1);
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 4rem;
}

.arrow-next {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color1);
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 4rem;
}

.close-carousel:hover,
.arrow-prev:hover,
.arrow-next:hover {
  outline: solid 3px var(--color1);
  background: var(--color1);
  color: var(--color3);
}

.close-carousel:hover {
  top: 47px;
}
.close-carousel:active,
.arrow-prev:active,
.arrow-next:active {
  outline: solid 3px var(--color2);
  background-color: var(--color2);
  border: none;
  color: var(--color3);
}

.close-carousel:focus-visible,
.arrow-prev:focus-visible,
.arrow-next:focus-visible {
  background: none;
  color: var(--color4);
}

.lightbox-container .img-container {
  width: 75%;
  height: 75%;
}

.lightbox-container .img-container img,
.lightbox-container .img-container video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.carousel-text {
  width: 75%;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 850px) {
  .lightbox-container .img-container {
    width: 65%;
    height: 65%;
  }
}

@media screen and (max-width: 650px) {
  .lightbox-container .img-container {
    width: 95%;
    height: 65%;
  }

  .lightbox-container {
    gap: 70px;
    padding-top: 30px;
  }
  .arrow-next {
    top: 82.5%;
    transform: none;
    right: 10%;
  }

  .arrow-prev {
    top: 82.5%;
    transform: none;
    left: 10%;
  }
  .carousel-text {
    width: 50%;
  }
}
