:root {
  --color1: #901c1c;
  --color2: #d3573c;
  --color3: #fafafa;
  --color4: #525252;
}

* {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.photograph-header {
  background-color: var(--color3);
  height: 300px;
  margin: 0 100px;
}

.photograph-profil {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  position: relative;
}
.photograph-profil .text-container {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 40%;
}

.photograph-profil h1 {
  color: var(--color2);
  font-weight: 400;
  font-size: 55px;
  line-height: 83px;
}
.photograph-profil .city {
  color: var(--color1);
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.photograph-profil .tagline {
  color: var(--color4);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 20px 0;
}

.photograph-profil img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--color1);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popinInfo {
  width: 376px;
  height: 89px;
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 36px;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5px;
}

/* ------------ contact modal ---------- */

#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  min-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
  z-index: 200;
}

.flex-center {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  min-width: 350px;
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  /* height: 100%; */
}

.modal header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact_btn_close {
  background: none;
  border: none;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.grid-form {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'i1'
    'i2'
    'i3'
    'i4'
    'i4';
}

#firstname-grid {
  grid-area: i1;
}
#lastname-grid {
  grid-area: i2;
}
#email-grid {
  grid-area: i3;
}
#message-grid {
  grid-area: i4;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

label[for='message'] {
  margin-top: 10px;
}
form textarea {
  resize: none;
  height: 100%;
}

#contact_modal .contact_button {
  position: static;
  transform: none;
  align-self: flex-start;
  margin-top: 26px;
}
/* ----------- section filter ------------- */
.filter-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 100px 0;
  position: relative;
}
.label {
  margin-right: 20px;
  line-height: 69px;
}
.select-value {
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 700;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: white;
  background: #911c1c;
  border: none;
}

/* ----- select container ---- */
.select-container {
  height: 170px;
  width: 170px;
  border-radius: 5px;
  color: white;
  background: #911c1c;
  position: absolute;
  top: 0;
  left: 91px;
  z-index: 1;
}
.select-list {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: grid;
  position: relative;
}
.select-option {
  list-style: none;
  width: 100%;
  height: 100%;
  line-height: 56px;
  padding: 0 20px;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.select-option:hover {
  background: #db8876;
  color: black;
}
.select-option:nth-of-type(n + 2)::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 80%;
  height: 1px;
  background: white;
}
.select-option:first-of-type {
  border-radius: 5px 5px 0 0;
}
.select-option:last-of-type {
  border-radius: 0 0 5px 5px;
}

.select-option:nth-of-type(1):hover ~ i {
  color: black;
}

.select-container i {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.3s ease-in-out;
}

.visible {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}

.hiddenVisibility {
  visibility: hidden;
}
/* ----------- section media -------------- */
.media {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-between;
  border: none;
}

.media article {
  margin: 30px 0;
}

.media .img-container {
  width: 350px;
  height: 350px;
  cursor: pointer;
}

.media .img-container img,
.media .img-container video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.media .text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: var(--color1);
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.media .text-container .titre {
  flex: 0 0 80%;
}

.media .text-container .like {
  font-weight: 600;
  font-size: 20px;
  display: flex;
}

.likeBtn {
  position: relative;
  border: none;
  background: none;
  height: 30px;
  width: 30px;
  font-size: 20px;
  color: var(--color1);
}

.likeBtn:focus-visible {
  outline: solid 3px rgba(0, 81, 255, 0.681);
  background-color: white;
  color: var(--color1);
}

.media .text-container i {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.likeEmpty,
.likeFull {
  position: absolute;
  top: 5px;
  right: 0;
  transition: 0.3s ease forwards;
  transform: scale(0);
}

.active {
  transform: scale(1);
}

/* -------------light-box modal----------------- */

#lightbox-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--color3);
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
}

.lightbox-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: var(--color1);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightbox-container.hidden {
  display: none;
}

.close-carousel {
  position: absolute;
  top: 50px;
  right: 5%;
  color: var(--color1);
  font-size: 2rem;
  height: 42px;
  width: 42px;
  background-color: transparent;
  border: none;
}

.close-carousel:hover {
  transform: scale(1.1);
}

.close-carousel:active {
  transform: scale(1.3);
}

.arrow-prev {
  color: var(--color1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 2rem;
}

.arrow-next {
  color: var(--color1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 2rem;
}

.arrow-prev:hover,
.arrow-next:hover {
  transform: scale(1.1) translateY(-50%);
}

.arrow-prev:active,
.arrow-next:active {
  transform: scale(1.3) translateY(-50%);
}

.lightbox-container .img-container {
  width: 75%;
  height: 75%;
}

.lightbox-container .img-container img,
.lightbox-container .img-container video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.carousel-text {
  width: 75%;
  font-size: 1.5rem;
}
